input {
	file {
		path => "/home/snayak/ccfl-data/subsidy-data/activeclientbyVETERANSTATUS/subsidy2019/ActiveClientsbyVeteranStatusJAN.csv"
		start_position => "beginning"
		ignore_older => 3600
		sincedb_path => "/dev/null"
	}
}

filter {
	csv {
		separator => ","
		columns => ["#Client", "Veteran Status", "Date"]
	}
	mutate {
		convert => {"#Client" => "integer"}
	}
	date {
		match => ["Date", "MM/yyyy"]
		target => "Date"
	}
}

output {
	elasticsearch {
		hosts => "http://localhost:9200"
		index => "subsidy-activeclientbyveteranstatus"
	}
stdout {}
}
