input {
    file {
        path => "/home/snayak/ccfl-data/Camp-Kesem/*.csv"
        start_position => "beginning"
        ignore_older => 3600
        sincedb_path => "/dev/null"
    }
}

filter {
    csv {
        separator => ","
        columns => ["Participant: Age as of today", 
		            "Participant: Age as of session", 
					"Participant: Camper identifies their gender as:",
					"Participant: City",
					"Participant: Country",
                    "Participant: Date of birth",
                    "Participant: Has your child attended Camp Kesem before?",
                    "Participant: Has your child lost a parent or primary caregiver to cancer?",
                    "Participant: If you selected Yes, how many years has your child attended Camp Kesem?",
				    "Participant: What types of cancer has your family been affected by?",
					"Participant: Which family members have had cancer?",
					"Participant: State",
                    "Primary P/G: City",
                    "Primary P/G: Country",
                    "Primary P/G: State",
                    "Secondary P/G: City",
                    "Secondary P/G: Country",
                    "Secondary P/G: State"]
    }
    mutate {
        convert => { "Participant: Age as of today" => "integer" }
    }
    mutate {
        convert => { "Participant: Age as of session" => "integer" }
    }
    date {
        match => ["Date of birth", "M/d/yy"]
        target => "Date of birth"
    }
	date {
			match => ["Date", "MM/yyyy"]
			target => "Date"
	}
}

output {
   elasticsearch {
     hosts => "http://localhost:9200"
     index => "camp-kesem"
  }
stdout {}
}