input {
	file {
		path => "/home/ubuntu/ccfl-data/MHCP Cases by County_Service Area/*.csv"
		start_position => "beginning"
		ignore_older => 1
		sincedb_path => "/dev/null"
	}
}

filter {
	csv {
		separator => ","
		columns => ["Service Area Name", "County", "# MHCP Cases", "Date"]
	}
	mutate {
		convert => { "# MHCP Cases" => "integer" }
	}
	date {
		match => ["Date", "MM/yyyy"]
		target => "Date"
	}
}

output {
	elasticsearch {
		hosts => "http://localhost:9200"
		index => "MHCP_County_Service_Area"
	}
stdout {}
}
